@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

:root {
    --font-family: 'Share Tech Mono', monospace;
    --bg-color: #2daae8;
    --primary-color: #EAE3D2;
    --shadow-color: #F9F5EB;
    --cor-errou: #FF8B8B;
    --cor-acertou: #FFEA11;
}

body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-family: var(--font-family);
    transition: 1s;
}

.dark-mode {
    --bg-color: #002B5B;
    --primary-color: #8FE3CF;
    --cor-acertou: #FFEA11;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: 80vh;
    margin: 0;
}

.topo {
    margin: 5px 0px 0px 5px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#recorde {
    color: var(--cor-acertou);
    font-size: 1.2em;
}

#btn-dark-mode {
    font-size: 25px;
    padding: 10px;
    cursor: pointer;
    width: 60px;
    border-radius: 5px;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 3.5em;
}

h3 {
    font-size: 2em;
    margin-top: 20px;
}

.mensagem {
    font-size: 1.5em;
    margin-top: 40px;
}

.box {
    border: 2px solid var(--primary-color);
    box-shadow: 5px 5px var(--shadow-color);
    display: inline-block;
    font-size: 4em;
    padding: 10px;
    margin: 20px;
}

span {
    font-weight: bold;
}

.acertou-numero-secreto {
    color: var(--cor-acertou);
    font-size: 2.5em;
}

.tentativas {
    color: var(--cor-acertou);
}


.errou {
    color: var(--cor-errou);
    font-weight: bold;
}

.btn-jogar-novamente {
    border-radius: 25px;
    padding: 15px;
    font-size: 0.5em;
    border: none;
    background-color: var(--primary-color);
    color: var(--bg-color);
    cursor: pointer; 
    margin-top: 25px;
    font-weight: bold;
    font-size: 1em;
}

@media screen and (max-width: 768px) {
    .box {
        font-size: 2.5em;
    }
  }